.controls-2co, .controls-address, .controls-arrow, .controls-authnet, .controls-autocomplete, .controls-button, .controls-cake, .controls-captcha, .controls-charts, .controls-checkbox, .controls-clickbank, .controls-datetime, .controls-dropdown, .controls-email, .controls-formcollapse, .controls-fullname, .controls-gcheckout, .controls-grading, .controls-header, .controls-hidden, .controls-image, .controls-matrix, .controls-number, .controls-onebip, .controls-pagebreak, .controls-password, .controls-payment_tools, .controls-paypal, .controls-paypalpro, .controls-phone, .controls-power_tools, .controls-quick_tools, .controls-radiobutton, .controls-range, .controls-rating, .controls-rgb, .controls-scale, .controls-slider, .controls-spinner, .controls-survey_tools, .controls-text, .controls-textarea, .controls-textbox, .controls-tool_box, .controls-upload, .controls-world, .controls-worldpay{background: transparent url(images/controls.png?3.0.REV) no-repeat scroll 0 0;}
.controls-2co{background-position: -0px 0px;width:107px;height:19px;}
.controls-address{background-position: -107px 0px;width:16px;height:16px;}
.controls-arrow{background-position: -123px 0px;width:16px;height:16px;}
.controls-authnet{background-position: -139px 0px;width:107px;height:19px;}
.controls-autocomplete{background-position: -246px 0px;width:16px;height:16px;}
.controls-button{background-position: -262px 0px;width:16px;height:16px;}
.controls-cake{background-position: -278px 0px;width:16px;height:16px;}
.controls-captcha{background-position: -294px 0px;width:16px;height:16px;}
.controls-charts{background-position: -310px 0px;width:16px;height:16px;}
.controls-checkbox{background-position: -326px 0px;width:16px;height:16px;}
.controls-clickbank{background-position: -342px 0px;width:107px;height:19px;}
.controls-datetime{background-position: -449px 0px;width:16px;height:16px;}
.controls-dropdown{background-position: -465px 0px;width:16px;height:16px;}
.controls-email{background-position: -481px 0px;width:16px;height:16px;}
.controls-formcollapse{background-position: -497px 0px;width:16px;height:16px;}
.controls-fullname{background-position: -513px 0px;width:16px;height:16px;}
.controls-gcheckout{background-position: -529px 0px;width:107px;height:19px;}
.controls-grading{background-position: -636px 0px;width:16px;height:16px;}
.controls-header{background-position: -652px 0px;width:16px;height:16px;}
.controls-hidden{background-position: -668px 0px;width:16px;height:16px;}
.controls-image{background-position: -684px 0px;width:16px;height:16px;}
.controls-matrix{background-position: -700px 0px;width:16px;height:16px;}
.controls-number{background-position: -716px 0px;width:16px;height:16px;}
.controls-onebip{background-position: -732px 0px;width:107px;height:19px;}
.controls-pagebreak{background-position: -839px 0px;width:16px;height:16px;}
.controls-password{background-position: -855px 0px;width:16px;height:16px;}
.controls-payment_tools{background-position: -871px 0px;width:16px;height:16px;}
.controls-paypal{background-position: -887px 0px;width:107px;height:19px;}
.controls-paypalpro{background-position: -994px 0px;width:107px;height:19px;}
.controls-phone{background-position: -1101px 0px;width:16px;height:16px;}
.controls-power_tools{background-position: -1117px 0px;width:16px;height:16px;}
.controls-quick_tools{background-position: -1133px 0px;width:16px;height:16px;}
.controls-radiobutton{background-position: -1149px 0px;width:16px;height:16px;}
.controls-range{background-position: -1165px 0px;width:17px;height:16px;}
.controls-rating{background-position: -1182px 0px;width:16px;height:16px;}
.controls-rgb{background-position: -1198px 0px;width:16px;height:16px;}
.controls-scale{background-position: -1214px 0px;width:16px;height:16px;}
.controls-slider{background-position: -1230px 0px;width:16px;height:16px;}
.controls-spinner{background-position: -1246px 0px;width:16px;height:16px;}
.controls-survey_tools{background-position: -1262px 0px;width:16px;height:16px;}
.controls-text{background-position: -1278px 0px;width:16px;height:16px;}
.controls-textarea{background-position: -1294px 0px;width:16px;height:16px;}
.controls-textbox{background-position: -1310px 0px;width:16px;height:16px;}
.controls-tool_box{background-position: -1326px 0px;width:16px;height:16px;}
.controls-upload{background-position: -1342px 0px;width:16px;height:16px;}
.controls-world{background-position: -1358px 0px;width:16px;height:16px;}
.controls-worldpay{background-position: -1374px 0px;width:107px;height:19px;}
