.email-charts, .email-email-01-bottom, .email-email-01-button, .email-email-01-header, .email-email-01-left, .email-email-01-right, .email-email-01-top-center, .email-email-01-top-left, .email-email-01-top-right, .email-email-01-top, .email-email-02-bottom, .email-email-02-button, .email-email-02-mid, .email-email-02-top, .email-email-pro-bottom, .email-email-pro-mid, .email-email-pro-top, .email-footer, .email-header, .email-jotform{background: transparent url(images/email.png?3.0.REV) no-repeat scroll 0 0;}
.email-charts{background-position: -0px 0px;width:300px;height:256px;}
.email-email-01-bottom{background-position: -300px 0px;width:600px;height:100px;}
.email-email-01-button{background-position: -900px 0px;width:257px;height:40px;}
.email-email-01-header{background-position: -1157px 0px;width:600px;height:201px;}
.email-email-01-left{background-position: -1757px 0px;width:80px;height:370px;}
.email-email-01-right{background-position: -1837px 0px;width:80px;height:370px;}
.email-email-01-top-center{background-position: -1917px 0px;width:250px;height:100px;}
.email-email-01-top-left{background-position: -2167px 0px;width:175px;height:100px;}
.email-email-01-top-right{background-position: -2342px 0px;width:175px;height:100px;}
.email-email-01-top{background-position: -2517px 0px;width:600px;height:100px;}
.email-email-02-bottom{background-position: -3117px 0px;width:600px;height:235px;}
.email-email-02-button{background-position: -3717px 0px;width:259px;height:40px;}
.email-email-02-mid{background-position: -3976px 0px;width:600px;height:225px;}
.email-email-02-top{background-position: -4576px 0px;width:600px;height:100px;}
.email-email-pro-bottom{background-position: -5176px 0px;width:660px;height:235px;}
.email-email-pro-mid{background-position: -5836px 0px;width:660px;height:341px;}
.email-email-pro-top{background-position: -6496px 0px;width:660px;height:121px;}
.email-footer{background-position: -7156px 0px;width:698px;height:22px;}
.email-header{background-position: -7854px 0px;width:698px;height:70px;}
.email-jotform{background-position: -8552px 0px;width:300px;height:218px;}
