.special_logos-logo-29ekim, .special_logos-logo-newyear-1, .special_logos-logo-newyear-2, .special_logos-logo-newyear-3{background: transparent url(images/special_logos.png?3.0.REV) no-repeat scroll 0 0;}
.special_logos-logo-29ekim{background-position: -0px 0px;width:164px;height:55px;}
.special_logos-logo-newyear-1{background-position: -164px 0px;width:164px;height:55px;}
.special_logos-logo-newyear-2{background-position: -328px 0px;width:164px;height:55px;}
.special_logos-logo-newyear-3{background-position: -492px 0px;width:164px;height:55px;}
