.styles-babyblue, .styles-biginput, .styles-default, .styles-denimjeans, .styles-industry, .styles-jottheme, .styles-oldpaper, .styles-papergrey, .styles-postit, .styles-solid, .styles-style1_bg, .styles-style1_btn_bg, .styles-style1_txt_bg, .styles-style2_bg, .styles-style2_txt_bg, .styles-style3_bg, .styles-style3_txt_bg, .styles-style4_2_bg, .styles-style4_bg, .styles-style4_btn_bg, .styles-style4_txt_bg, .styles-style5_btn_bg{background: transparent url(images/styles.png?3.0.REV) no-repeat scroll 0 0;}
.styles-babyblue{background-position: -0px 0px;width:150px;height:70px;}
.styles-biginput{background-position: -150px 0px;width:150px;height:70px;}
.styles-default{background-position: -300px 0px;width:150px;height:75px;}
.styles-denimjeans{background-position: -450px 0px;width:150px;height:71px;}
.styles-industry{background-position: -600px 0px;width:150px;height:72px;}
.styles-jottheme{background-position: -750px 0px;width:150px;height:70px;}
.styles-oldpaper{background-position: -900px 0px;width:150px;height:70px;}
.styles-papergrey{background-position: -1050px 0px;width:150px;height:62px;}
.styles-postit{background-position: -1200px 0px;width:150px;height:66px;}
.styles-solid{background-position: -1350px 0px;width:150px;height:70px;}
.styles-style1_bg{background-position: -1500px 0px;width:20px;height:100px;}
.styles-style1_btn_bg{background-position: -1520px 0px;width:1px;height:18px;}
.styles-style1_txt_bg{background-position: -1521px 0px;width:1px;height:14px;}
.styles-style2_bg{background-position: -1522px 0px;width:153px;height:110px;}
.styles-style2_txt_bg{background-position: -1675px 0px;width:2px;height:1px;}
.styles-style3_bg{background-position: -1677px 0px;width:153px;height:110px;}
.styles-style3_txt_bg{background-position: -1830px 0px;width:2px;height:1px;}
.styles-style4_2_bg{background-position: -1832px 0px;width:5px;height:1000px;}
.styles-style4_bg{background-position: -1837px 0px;width:5px;height:1000px;}
.styles-style4_btn_bg{background-position: -1842px 0px;width:1px;height:5px;}
.styles-style4_txt_bg{background-position: -1843px 0px;width:1px;height:6px;}
.styles-style5_btn_bg{background-position: -1844px 0px;width:1px;height:14px;}
