.themes-theme-fade-bottom, .themes-theme-fade-top{background: transparent url(images/themes.png?3.0.REV) no-repeat scroll 0 0;}
.themes-theme-fade-bottom{background-position: -0px 0px;width:366px;height:16px;}
.themes-theme-fade-top{background-position: -366px 0px;width:366px;height:15px;}
