.tool_previews-control_address, .tool_previews-control_autocomp, .tool_previews-control_birthdate, .tool_previews-control_button, .tool_previews-control_captcha, .tool_previews-control_checkbox, .tool_previews-control_collapse, .tool_previews-control_datetime, .tool_previews-control_dropdown, .tool_previews-control_email, .tool_previews-control_fileupload, .tool_previews-control_fullname, .tool_previews-control_grading, .tool_previews-control_head, .tool_previews-control_hidden, .tool_previews-control_image, .tool_previews-control_location, .tool_previews-control_matrix, .tool_previews-control_number, .tool_previews-control_pagebreak, .tool_previews-control_passwordbox, .tool_previews-control_payment, .tool_previews-control_phone, .tool_previews-control_radio, .tool_previews-control_range, .tool_previews-control_rating, .tool_previews-control_scale, .tool_previews-control_slider, .tool_previews-control_spinner, .tool_previews-control_text, .tool_previews-control_textarea, .tool_previews-control_textbox{background: transparent url(images/tool_previews.png?3.0.REV) no-repeat scroll 0 0;}
.tool_previews-control_address{background-position: -0px 0px;width:190px;height:121px;}
.tool_previews-control_autocomp{background-position: -190px 0px;width:190px;height:108px;}
.tool_previews-control_birthdate{background-position: -380px 0px;width:190px;height:61px;}
.tool_previews-control_button{background-position: -570px 0px;width:190px;height:40px;}
.tool_previews-control_captcha{background-position: -760px 0px;width:190px;height:107px;}
.tool_previews-control_checkbox{background-position: -950px 0px;width:190px;height:88px;}
.tool_previews-control_collapse{background-position: -1140px 0px;width:190px;height:69px;}
.tool_previews-control_datetime{background-position: -1330px 0px;width:190px;height:66px;}
.tool_previews-control_dropdown{background-position: -1520px 0px;width:190px;height:54px;}
.tool_previews-control_email{background-position: -1710px 0px;width:190px;height:58px;}
.tool_previews-control_fileupload{background-position: -1900px 0px;width:190px;height:59px;}
.tool_previews-control_fullname{background-position: -2090px 0px;width:190px;height:68px;}
.tool_previews-control_grading{background-position: -2280px 0px;width:190px;height:118px;}
.tool_previews-control_head{background-position: -2470px 0px;width:190px;height:60px;}
.tool_previews-control_hidden{background-position: -2660px 0px;width:190px;height:51px;}
.tool_previews-control_image{background-position: -2850px 0px;width:189px;height:98px;}
.tool_previews-control_location{background-position: -3039px 0px;width:190px;height:61px;}
.tool_previews-control_matrix{background-position: -3229px 0px;width:190px;height:140px;}
.tool_previews-control_number{background-position: -3419px 0px;width:190px;height:50px;}
.tool_previews-control_pagebreak{background-position: -3609px 0px;width:190px;height:69px;}
.tool_previews-control_passwordbox{background-position: -3799px 0px;width:190px;height:56px;}
.tool_previews-control_payment{background-position: -3989px 0px;width:190px;height:102px;}
.tool_previews-control_phone{background-position: -4179px 0px;width:190px;height:64px;}
.tool_previews-control_radio{background-position: -4369px 0px;width:190px;height:82px;}
.tool_previews-control_range{background-position: -4559px 0px;width:190px;height:59px;}
.tool_previews-control_rating{background-position: -4749px 0px;width:190px;height:50px;}
.tool_previews-control_scale{background-position: -4939px 0px;width:190px;height:76px;}
.tool_previews-control_slider{background-position: -5129px 0px;width:190px;height:70px;}
.tool_previews-control_spinner{background-position: -5319px 0px;width:190px;height:53px;}
.tool_previews-control_text{background-position: -5509px 0px;width:190px;height:50px;}
.tool_previews-control_textarea{background-position: -5699px 0px;width:190px;height:132px;}
.tool_previews-control_textbox{background-position: -5889px 0px;width:190px;height:62px;}
