#passwordResetBox {
    font-size:16px;   
}

form input {
	-moz-border-radius:5px 5px 5px 5px;
	border:1px solid #666666;
	font-size:18px;
	padding:4px;
}

#passwordResetForm label {
    color:#666666;
	float:left;
	font-weight:bold;
	line-height:32px;
	margin-right:16px;
	text-align:right;
	width:160px;
}

#formButtonDiv {
    margin-left:176px;
}

#passwordField, #passwordConfField {
    margin-bottom: 16px;
}

.errorMessage span, 
.correctMessage span {
    margin-left: 7px;
    position: absolute;
    background-color: inherit;
}

div.error  div.errorMessage, 
div.correct  div.correctMessage {
    display: inline;
}

div.correct div.errorMessage,
div.neutral div.errorMessage, 
div.error div.correctMessage,
div.neutral div.correctMessage {
    display: none;
}

div.errorMessage, div.neutralMessage, div.correctMessage {
    display: none;
}

.fieldMessage {
    font-size: 0.8em;
    position: absolute;
    width: 165px;
    margin-left: 7px;
    display: inline;
}

.validationImage {
    position: relative;
    top: 6px;	
}
	
div.error {
    color: red;
    padding: 0;
}

div.correct {
    color: green;
}

#passwordResetError {
	margin: 16px 0 16px 176px;
	width: 424px;
	
}

